body {
  background-color: #1d1f2e !important;
}

.graph-wrapper {
  width: 60% !important;
  position: relative;
  border-radius: 5px;
  background-color: #292a3e;
  margin-left: 50px !important;
  padding-bottom: 20px;
}

.bitcoin-symbol {
  font-weight: 700;
  color: #87889c;
  font-size: 18px;
}
