.graphWrapper {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.accordion-wrapper {
  padding: 20px 0 15px 0px;
  box-shadow: 0px 1px 3px 1px rgb(94, 93, 93);
  border-radius: 3px;
}

.chevron-down {
  cursor: pointer;
}

.bitcoin-symbol {
  font-weight: 700;
  font-size: 18px;
}